* {
	margin: 0;
	padding: 0;
}

body {
	background: #ece6e7;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 98%;
	max-width: 1500px;
	margin: 5px auto;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, auto);

	grid-template-areas: "header header header header"
						 "menu menu menu menu"
						 "contenido contenido contenido contenido"
						 "contenido contenido contenido contenido"
						 "widget-1 widget-1 widget-2 widget-2"
						 "footer footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .menu,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	padding: 0px;
	border-radius: 4px;
}

.contenedor-header{
	width: 98%;
	margin: 5px auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);

	grid-template-areas: "lista-menu lista-menu lista-menu"
						 "titulo titulo titulo"
						 "subtitulo subtitulo subtitulo";
}

.contenedor-header .titulo{
	grid-area: titulo;
}

.contenedor-header .subtitulo{
	grid-area: subtitulo;
}

.contenedor-header .lista-menu{
	grid-area: lista-menu;
}

.contenedor-header .lista-menu-chica{
	display: none;
}

.contenedor .header {
	background: #C89F9C;
	color: #e7e1dc;
	grid-area: header;
	text-align: center;
	padding: 10px;
}

.contenedor .header h2{
	font-size: 60px;
}

.contenedor .header h5{
	font-size: 20px;
}

.header ul{
	list-style: none;
}

.header a{
	text-decoration: none;
	color: #e7e1dc;
	font-size: 17px;
}

.header i {
	color: #e7e1dc;
	font-size: 20px;
	cursor: pointer;
}

.header a,
.header i{
	float:right;
	text-align: center;
	margin-right: 10px

}

.contenedor .menu{
	background: #b396ab;
	height: fit-content;
	display: flex;
	flex-wrap: wrap;
	justify-content:center;
	text-align: center;
	align-items:center;
	grid-area: menu;

}

.menu p{
	color: white;
}

.menu a{
	background: none;
	border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-transform: uppercase;
    color: white;
	margin: 20px;
	padding: 5px;
}

.menu a.active,
.menu a:hover{
	background: #85579b9f;
	color: #e7e1dc;
	transition: 0.5s;
}

.contenedor .contenido {
	grid-area: contenido;
}

.contenedor .contenido .contenedor-cont{
	width: 100%;
	display: grid;
	grid-gap: 30px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);

	grid-template-areas: ". seccion1 ."
						 "seccion2 seccion2 seccion2"
}

.contenedor-cont .presentacion{
	background: #85579b;
	width: 100%;
	color: #fff;
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}

.contenedor-cont .presentacion{
	grid-area: presentacion;
}

.contenedor-cont .seccion1{
	color: #fff;
	width: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.contenedor-cont .seccion2,
.contenedor-cont .seccion3,
.contenedor-cont .seccion4,
.contenedor-cont .seccion5{
	width: fit-content;
	background: #e7e1dc;
	color: #fff;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	margin-left: 50px;
}
.seccion2 img,
.seccion3 img,
.seccion4 img,
.seccion5 img{
	width: 50%;
	margin: 0%;
}

.contenedor-cont .seccion1{
	grid-area: seccion1;
}

.contenedor-cont .seccion2{
	grid-area: seccion2;
}

.contenedor-cont .seccion3{
	grid-area: seccion3;
}

.contenedor-cont .seccion4{
	grid-area: seccion4;
}

.contenedor-cont .seccion5{
	grid-area: seccion5;
}

.contenedor .sidebar {
	grid-column: 3 / 4;
	text-align: center;
	grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2 {
	background: #55a8fd;
	color: #fff;
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor .widget-1 {
	grid-area: widget-1;
}

.contenedor .widget-2 {
	grid-area: widget-2;
}

.contenedor .footer {
	background: #C89F9C;
	color: #fff;
	grid-area: footer;
	padding: 40px;
}

#check{
	display:block;
	visibility: hidden;
}

.menu-btn{
	display: block;
	visibility: hidden;
}

/* Botones Accesorios*/

/*.xop-section{
	margin: 0 auto;
    padding: 6% 2%;
}*/

.xop-grid {

    padding: 0%;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}

.xop-grid:after{
    clear: both;
}

.xop-grid:after, .xop-grid:before{
    content: "";
    display: table;
}

.xop-grid li{
    width: 328px;
    height: 328px;
    display: inline-block;
    margin: 5px;
}

.xop-box{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: 0.3s ease-in-out, transform 0.3s ease-in-out; 
}

.xop-box:hover{
    transform: scale(1.05);
}

.xop-img-1{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url(../TPO/img/aros1.jpeg);
}

.xop-img-2{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url(../TPO/img/collar1.jpeg);
}

.xop-img-3{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url(../TPO/img/mates.jpeg);
}

.xop-img-4{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url(../TPO/img/collar3.jpeg);
}

.xop-info{
    position: absolute;
    width: inherit;
    height: inherit;
}

.xop-info h3{
    font-weight: 400;
    color: #fff;
    font-size: 42px;
    margin: 0 30px;
    padding: 100px 0 0 0;
    line-height: 1.5;
}

/* Fin botones accesorios*/

/* Slider Responsive */
#slider {
	overflow: hidden;
}
#slider figure {
	position:relative;
	width: 200%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 50%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	50% {
		left: 0;
	}
	55% {
		left: -100%;
	}
	95% {
		left: -100%;
	}
}

/* fin slider responsive */

/*slider
.slider-frame{
	overflow: hidden;
	width: 500px;
	margin-left: 0px;
	margin-top: 0px;
	align-items: center;
}

@-webkit-keyframes slide_animation{
	0%{left: 0px;}
	10%{left: 0px;}
	20%{left: 500px;}
	30%{left: 500px;}
	40%{left: 0px;}
	50%{left: 0px;}
	60%{left: 0px;}
	70%{left: 0px;}
	80%{left: 0px;}
	90%{left: 0px;}
	100%{left: 0px;}
	
}

.slider-img{
	width: 1000px;
	height: 400px;
	margin: 0 0 0 -500px;
	position: relative;
	-webkit-animation-name: slide_animation;
	-webkit-animation-duration: 33s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-direction: alternate;
	-webkit-animation-play-state: running;
}

.img-contenedor{
	height: 400px;
	width: 500px;
	position: relative;
	float: left;
}

.img-contenedor img{
	width: 400px;
}

fin slider */

@media screen and (max-width: 768px){
	
	.contenedor {
		
		grid-template-areas: "header header header header"
							 "contenedor-boton contenedor-boton contenedor-boton contenedor-boton"
							 "menu menu menu menu"
							 "contenido contenido contenido contenido"
							 "widget-1 widget-1 widget-2 widget-2"
							 "footer footer footer footer";
	}

	.contenedor .contenido .contenedor-cont{
		width: 100%;
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(3, auto);
	
		grid-template-areas: "seccion1"
							 "seccion2 seccion3" 
							 "seccion4 seccion5"
	}
	
	.contenedor .menu{
		position: relative;
		background: #b99aae;
		height: 0vh;
		width: 100%;
		display: block;
		text-align: center;
		grid-area: menu;
	
	}

	.menu a{
		background: none;
		border-radius: 4px;
		text-decoration: none;
		font-size: 20px;
		display: none;
		text-transform: uppercase;
		color: white;
		margin: 50px;
		padding: 5px;
	}

	.contenedor .contenedor-boton{
		border-radius: 5px;
		background: #b396ab;
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		grid-area: contenedor-boton;
	}

	.contenedor .contenedor-boton .menu-btn{
		font-size: 30px;
		color:white;
		margin-right: 5px;
		cursor: pointer;
		visibility:visible;
	}
	.menu-btn i {
		align-items: center;
		padding: 10px;
	}

	#check{
		display: none;
	}

	#check:checked ~ .menu{
		height: 70vh;
		width: 100%;
	}

	#check:checked ~ .menu a{
		display: block;
	}
}

@media screen and (max-width: 810px){

	.contenedor-header{
		width: 98%;
		margin: 5px auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
	
		grid-template-areas: "lista-menu-chica lista-menu-chica lista-menu-chica"
							 "titulo titulo titulo"
							 "subtitulo subtitulo subtitulo";
	}

	.contenedor-header .lista-menu{
		display: none;
	}

	.contenedor-header .lista-menu-chica{
		display: block;
		grid-area: lista-menu-chica;
		list-style: none;
	}
}



@media screen and (max-width: 450px){
	
	.contenedor .header h2{
		font-size: 12vw;
	}
	
	.contenedor .header h5{
		font-size: 6vw;
	}

	.lista-menu-chica i{
		font-size: 4vw;
	}

}

