/* CSS Reset*/
*,*:before,*:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300&display=swap');

/*ESTILOS*/
body{
    background-color: #E9ECF4;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.contenedor{
    width: 95%;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
}
.contenedor .contenido{
    grid-column-start: 1;
    grid-column-end: -1;
}
.contenedor .sidebar{
    grid-column-start: 1;
    grid-column-end: -1;
    background: #fAA43D;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .widget-1,
.contenedor .widget-2{
    background: rgb(95, 200, 204);
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column: span 2;
}

.contenedor .footer{
    background: rgba(0, 0, 0, 0.918);
    color: white;
    text-align: center;
    grid-column-start: 1;
    grid-column-end: -1;
}

.contenedor > div, 
.contenedor .cabecera,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    padding: 20px;
    border-radius: 4px;
}

.contenedor .cabecera {
    width: 100%;
    background: rgba(94, 211, 201, 0.856);
    color: white;
    grid-column-start: 1;
    grid-column-end: -1;
}

.contenedor .cabecera .menu{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* border-bottom: 1px solid white;
    box-shadow: 5px 0px 10px black; */
    grid-column-start: 1;
    grid-column-end: -1;

}

.contenedor .cabecera .logo {
    width: 140px;
    margin-left: 0;
}

.contenedor .cabecera .bar-btn{
    margin-right: 20px;
    font-size: 25px;
    color: white;
    cursor: pointer;
}

.contenedor .cabecera .menu-items{
    position: fixed;
    width: 90%;
    height: 0vh;
    top: 158px;
    background: rgb(0,0,0,.95);
    text-align: center;
    transition: all .5s;
}

.contenedor .cabecera .menu-items li{
    display: none;
    line-height: 30px;
    margin: 50px 0;
    transition: all .5s;
}

.contenedor .cabecera .menu-items li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    display: block;
    text-transform: uppercase;
    color: white;
}

.contenedor .cabecera .menu-items li a.active,
.contenedor .cabecera .menu-items li a:hover 
{
color: rgb(94, 189, 192);
transition: .5s;
}

#check{
    display: none;
}

#check:checked ~ .menu-items {
    height: 100vh;
}
    
#check:checked ~ .menu-items li{
    display: block;
}

@media screen and (min-width: 600px) {
    .contenedor{
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(4, auto);
    }
    
    .contenedor .contenido{
        grid-column: span 2;
    }

    .contenedor .cabecera{
        height: 100%;
    }
    
    .contenedor .sidebar{
        grid-column: 3/4;
        grid-row: span 2;
    }
    
    .contenedor .widget-1,
    .contenedor .widget-2{
       grid-column: span 1;
    }
    
    .contenedor .footer{
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    .contenedor .cabecera .menu .menu-items li{
        margin: 0 20px;
        line-height: 100px;
        display: inline-block;  
        transition: none;
    }
    .contenedor .cabecera .menu .menu-items li a {
        font-size: 25px;
    }

    .contenedor .cabecera .menu .menu-items li a:hover,
    .contenedor .cabecera .menu .menu-items li:hover{
        background: rgba(218, 125, 156, 0.473);
    }
    
    .contenedor .cabecera .menu .menu-items li a.active,
    .contenedor .cabecera .menu .menu-items li a:hover
    {
        color: whitesmoke;
    }

    .contenedor .cabecera .bar-btn{
        display: none;
    }

    .contenedor .cabecera .menu .menu-items{
        display: flex;
        position: relative;
        width: 80%;
        height: 100px;
        background: none;
        top: 0;
        text-align: right;
        transition: none;
    }
}

@media screen and (max-width:600px) and (orientation:landscape){
    .contenedor .menu .menu-items li{
        margin: 5px 0 0 0;
    }

    .contenedor .menu .menu-items{
        overflow: scroll;
        height: calc(100% - 65px);
    }
}