/* CSS Reset*/
*,*:before,*:after{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

/* GOOGLE FONTS*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,300&display=swap');

/*ESTILOS*/
body{
    background-color: #E9ECF4;
    color: black;
    font-family: 'Roboto', sans-serif;
}

.contenedor{
    width: 95%;
    max-width: 1000px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

.contenedor > div, 
.contenedor .cabecera,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
    background: rgb(137, 180, 221);
    padding: 20px;
    border-radius: 4px;
}

.contenedor .cabecera {
    background: rgba(94, 211, 201, 0.856);
    color: white;
    grid-column-start: 1;
    grid-column-end: -1;
}

.contenedor .cabecera .menu{
    width: 95%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    /* border-bottom: 1px solid white;
    box-shadow: 5px 0px 10px black; */
    grid-column-start: 1;
    grid-column-end: -1;

}

.contenedor .cabecera .logo {
    color: white;
    font-size: 35px;
    font-weight: bold;
}

.contenedor .cabecera .btn-menu{
    margin-right: 30px;
    font-size: 25px;
    color: white;
    cursor: pointer;
    display: none;
}
.contenedor .cabecera .menu-items{
    display: flex;
    list-style: none;
    margin-right: 30px;
}

.contenedor .cabecera .menu-items li{
    border-radius: 3px;
    margin: 0px 5px;
}

.contenedor .cabecera .menu-items li a:hover, 
.contenedor .cabecera .menu-items li a.active{
background-color: rgb(94, 189, 192);
transition: .5s;
}


.menu-items li a{
    padding: 7px 13px;
    text-decoration: none;
    font-size: 18px;
    display: block;
    text-transform: uppercase;
    color: white;
}

.contenedor .contenido{
    grid-column: span 2;
}

.contenedor .sidebar{
    grid-column: 3/4;
    background: #fAA43D;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    grid-row: span 2;
}

.contenedor .widget-1,
.contenedor .widget-2{
    background: rgb(95, 200, 204);
    color: white;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor .footer{
    background: rgba(0, 0, 0, 0.856);
    color: white;
    text-align: center;
    grid-column: span 3;
}

#check{
    display: none;
    background: none;
}

#check:checked ~ .menu-items {
    height: 100vh;
}
    
#check:checked ~ .menu-items li{
    display: block;
}

@media screen and (max-width: 600px) {
    
    .contenedor{
        width: 95%;
        max-width: 1000px;
        margin: 20px auto;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, auto);
    }
    .contenedor .contenido{
        grid-column-start: 1;
        grid-column-end: -1;
    }
    .contenedor .sidebar{
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .contenedor .widget-1,
    .contenedor .widget-2{
        grid-column: span 2;
    }
    .contenedor .footer{
        grid-column-start: 1;
        grid-column-end: -1;
    }
    
    .contenedor .menu-items li{
        margin: 50px 0;
        line-height: 30px;
        display: none;  
        transition: all .5s;
    }
    .contenedor .menu-items li a {
        font-size: 20px;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
    }

    .contenedor .menu-items li:hover{
        background: none;
    }
    
    .contenedor .menu-items li a.active,
    .contenedor .menu-items li a:hover
    {
        color: rgb(95, 200, 204);
    }

    .contenedor .cabecera .btn-menu{
        display: inline-flex;
    }

    .contenedor .cabecera .menu-items{
        position: fixed;
        width: 80%;
        height: 0vh;
        background: rgba(0, 0, 0, 0.856);
        top: 100px;
        text-align: center;
        transition: all .5s;
        flex-direction: column;
        margin: 30px;
        padding: 50px;
    }
}

@media screen and (max-width:600px) and (orientation:landscape){
    .contenedor .menu .menu-items li{
        margin: 5px 0 0 0;
    }

    .contenedor .menu .menu-items{
        overflow: scroll;
        height: calc(100% - 65px);
    }
}