* {
	margin: 0;
	padding: 0;
}

body {
	background: #ece6e7;
	color: #000;
	font-family: 'Roboto', sans-serif;
}

.contenedor {
	width: 99%;
	max-width: 1500px;
	margin: 5px auto;
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(6, auto);

	grid-template-areas: "header header header header"
						 "menu menu menu menu"
						 "contenido contenido contenido contenido"
						 "contenido contenido contenido contenido"
						 "widget-1 widget-1 widget-1 widget-1"
						 "footer footer footer footer";
}

.footer .footer-grid {
	padding: 0 auto;
    list-style: none;
    display: flex;
	flex-wrap: wrap;
    text-align: center;
	justify-content: space-evenly;
	height: fit-content;
}

.footer-grid li{
	list-style: none;
	padding: 0 0px 10px 0;
}

.enlace-redes{
	font-size: 18px;
}

.footer-grid a{
	text-decoration: none;
	color: #ece6e7;
}

.tarjetas img{
	width: 100px;
}

.tarjetas{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-evenly;
	max-width: 250px;
}


.contenedor > div,
.contenedor .header,
.contenedor .menu,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
	padding: 0px;
	border-radius: 4px;
}

.contenedor-header{
	width: 99%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);

	grid-template-areas: "lista-menu lista-menu lista-menu"
						 ". titulo ."
						 "subtitulo subtitulo subtitulo";
}

.contenedor-header .titulo{
	grid-area: titulo;
}

.contenedor-header .subtitulo{
	grid-area: subtitulo;
}

.contenedor-header .lista-menu{
	grid-area: lista-menu;
}

.contenedor-header .lista-menu-chica{
	display: none;
}

.contenedor .header {
	background:#F2E9E4;
	color: #C89F9C;
	grid-area: header;
	text-align: center;
	padding: 10px;
	box-shadow: #000;
}

.contenedor .header .logo{
	width: 100px;
	float: left;
	padding: 0 auto;
}

.logo a{
	margin: 0 auto;
	margin-right: 0;
}

.contenedor .header h2{
	font-size: 60px;
	align-self: center;
}

.contenedor .header h5{
	font-size: 20px;
	padding: 0 auto;

}

.header ul{
	list-style: none;
}

.header a{
	text-decoration: none;
	color: #C89F9C;
	font-size: 17px;
	font-weight: bold;
}

.header i {
	color: #C89F9C;
	font-size: 20px;
	cursor: pointer;
}

.header a,
.header i{
	float:right;
	text-align: center;
	margin-right: 10px

}

.contenedor .menu{
	width: 100%;
	background: #C89F9C;
	height: 100%;
	display: flex;
	justify-content:center;
	text-align: center;
	align-items:center;
	grid-area: menu;

}

.menu p{
	color: white;
}

.menu a{
	background: none;
	border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
    display: block;
    text-transform: uppercase;
    color: white;
	margin: 20px;
	padding: 5px;
}

.menu a.active,
.menu a:hover{
	background: #F2E9E4;
	color: #C89F9C;
	transition: 0.5s;
}

.contenedor .contenido {
	grid-area: contenido;
}

.contenedor .contenido .contenedor-cont{
	width: 100%;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, auto);

	grid-template-areas: ". seccion1 ."
						 "seccion2 seccion2 seccion2"
}

.contenedor-cont .presentacion{
	background: #85579b;
	width: 100%;
	color: #fff;
	height: 100px;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}

.contenedor-cont .presentacion{
	grid-area: presentacion;
}

.contenedor-cont .seccion1{
	color: #fff;
	width: 100%;
	text-align:start;
	display: block;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.contenedor-cont .seccion2{
	width: 90%;
	background: #ece6e7;
	color: #fff;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.contenedor-cont .seccion3,
.contenedor-cont .seccion4,
.contenedor-cont .seccion5{
	width: 100%;
	background: #ece6e7;
	color: #fff;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
}
.seccion2 img,
.seccion3 img,
.seccion4 img,
.seccion5 img{
	width: 50%;
	margin: 0%;
}

.contenedor-cont .seccion1{
	grid-area: seccion1;
}

.contenedor-cont .seccion2{
	grid-area: seccion2;
	margin-left: 5%;
}

.contenedor-cont .seccion3{
	grid-area: seccion3;
}

.contenedor-cont .seccion4{
	grid-area: seccion4;
}

.contenedor-cont .seccion5{
	grid-area: seccion5;
}

.contenedor .sidebar {
	grid-column: 3 / 4;
	text-align: center;
	grid-area: sidebar;
}

.contenedor .widget-1,
.contenedor .widget-2 {
	background:#C89F9C;
	color: #fff;
	height: 100%;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.contenedor .widget-1 {
	grid-area: widget-1;
}

.contenedor-boton{
	display: none;
}
.con

/* GRID DE INFORMACION */

.widget-info-grid{
	list-style: none;
	display: flex;
	text-align: center;
	justify-content: space-evenly;
	align-items: center;
	padding: 0% auto;
	margin: 0% auto;
	width: 100%;
}

.widget-info-grid li{
	position: relative;
	display: inline-block;
	margin: 10px;
}

.widget-info-item i{
	font-size: 30px;
	color: #fff;
	padding: 10px 0 0 0;
}

.widget-info-item h3{
	padding: 3px 0;
	font-size: 1.5vw;
}

.widget-info-item p{
	width: 100%;
	font-size: 1vw;
}


/* FIN DE GRID DE INFORMACION */

.contenedor .widget-2 {
	grid-area: widget-2;
}

.contenedor .footer {
	background: #C89F9C;
	color: #fff;
	grid-area: footer;
	padding: 40px 0 0 0;
}

#check{
	display:block;
	visibility: hidden;
}

.menu-btn{
	display: block;
	visibility: hidden;
}
/* Productos */

.grid-productos{
	position: relative;
	padding: 0%;
    list-style: none;
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
    text-align: center;
	justify-content: center;
	align-items: center;
    width: 100%;
}

.grid-productos:after{
    clear: both;
}

.grid-productos:after, .grid-productos:before{
    content: "";
    display: table;
}

.grid-productos li{
    width: 280px;
    height: 280px;
    margin: 20px;
}

.box-productos{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: 0.3s ease-in-out, transform 0.3s ease-in-out; 
}

.productos-menu{
	list-style: none;
}

.box-productos:hover .lista-productos-menu{
	border-radius: 4px;
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.473);
	margin: 240px 0 0 0;
	height: 40px;
}
.lista-productos-menu{
	display: none;
}
.lista-productos-menu li{
	margin: 30px;
	position: relative;
	height: 20px;
}



.box-productos a{
	text-decoration: none;
}

.box-productos:hover{
    transform: scale(1.10);
}

.productos-img-1{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/aros1.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-2{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/aros2.jpeg');
	background-position: center;
	background-size: cover;
}

.productos-img-3{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/anillos5.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-4{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/anillos2.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-5{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/anillos3.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-6{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/anillos4.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-7{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/collar1.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-8{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/collar2.jpeg');
	background-size: cover;
	background-position: bottom;
}

.productos-img-9{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/collar8.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-10{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/collar3.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-11{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/mates4.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-12{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/mates5.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-13{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/mates2.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-14{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/mates3.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-15{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/aros3.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-16{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/collar4.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-17{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/collar5.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-18{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/collar6.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-19{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/collar7.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-20{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/relojes.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-21{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/pulsera1.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-22{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/pulsera2.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-23{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/pulsera3.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-24{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/aros5.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-25{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/aros6.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-26{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/aros7.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-27{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/aros8.jpeg');
	background-size: cover;
	background-position: center;
}

.productos-img-28{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/aros4.jpeg');
	background-size: cover;
	background-position: center;
}

.xop-info{
    position: absolute;
    width: inherit;
    height: inherit;
}

.tipo-producto{
	background: #C89F9C;
	color: #F2E9E4;
	padding: 1%;
	margin: 0 3%;
	font-size: 25px;
	border-radius: 4px;
}

/*  */



/* Botones Accesorios */

/*.xop-section{
	margin: 0 auto;
    padding: 6% 2%;
}*/
.xop-section h2{
	background: #C89F9C;
	color: #F2E9E4;
	padding: 0.5%;
	font-size: 25px;
	border-radius: 4px;
}
.xop-grid {
    padding: 0%;
    list-style: none;
    display: flex;
	flex-wrap: wrap;
    text-align: center;
	justify-content: center;
    width: 100%;
}

.xop-grid:after{
    clear: both;
}

.xop-grid:after, .xop-grid:before{
    content: "";
    display: table;
}

.xop-grid li{
    width: 328px;
    height: 328px;
    margin: 20px;
}

.xop-box{
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer;
    border-radius: 10px;
    -webkit-transition: 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out, transform 0.3s ease-in-out;
    transition: 0.3s ease-in-out, transform 0.3s ease-in-out; 
}

.xop-box a{
	text-decoration: none;
}

.xop-box:hover{
    transform: scale(1.10);
}

.xop-img-1{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/aros1.jpeg');
	background-size: cover;
	background-position: center;
}

.xop-img-2{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/anillos4.jpeg');
	background-position: center;
	background-size: cover;
}

.xop-img-3{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/mates3.jpeg');
	background-size: cover;
	background-position: center;
}

.xop-img-4{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/collar1.jpeg');
	background-size: cover;
	background-position: center;
}

.xop-img-5{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/relojes.jpeg');
	background-size: cover;
	background-position: center;
}

.xop-img-6{
    background: linear-gradient(rgba(0,0,0,0.50), rgba(0,0,0,0.10)),
    url('../imagenes/pulsera2.jpeg');
	background-size: cover;
	background-position: center;
}

.xop-info{
    position: absolute;
    width: inherit;
    height: inherit;
}
.xop-box:hover h3{
	color: rgba(0, 0, 0, 0);
}

.xop-info h3{
	text-align: center;
    font-weight: bold;
    color: #fff;
    font-size: 50px;
	padding-top: 40%;
    line-height: 1.5;
}

/* Fin botones accesorios */

/* Slider Responsive */
#slider {
	overflow: hidden;
}
#slider figure {
	position:relative;
	width: 200%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 50%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	50% {
		left: 0;
	}
	55% {
		left: -100%;
	}
	95% {
		left: -100%;
	}
}

/* fin slider responsive */

/* Formulario iframe */

.formulario{
	width: 700px; 
	position: relative; 
	height: 850px; 
	padding-top: 10px;
}

.formulario-contacto{
	width: 700px; 
	position: relative; 
	height: 500px; 
	padding-top: 10px;
}

/* Fin de iframe */

/* FORMULARIO CREAR CUENTA*/

.mb-4 label,
.mb-4 p{
	color: #C89F9C;
	font-weight: bold;
}

.seccion1 .cuenta{
	padding: 1%;
	text-align: center;
	color: #ece6e7;
	background: #C89F9C;
	font-weight: bold;
	border-radius: 4px;
}

.seccion1 .encuentranos{
	padding: 2%;
	text-align: center;
	background: #C89F9C;
	border-radius: 4px;
	color: #ece6e7;
	font-weight: bold;
	border-radius: 4px;
}



/* FIN DEL FORMULARIO CREAR CUENTA */
@media screen and (max-width: 768px){
	
	.contenedor {
		
		grid-template-areas: "header header header header"
							 "contenedor-boton contenedor-boton contenedor-boton contenedor-boton"
							 "menu menu menu menu"
							 "contenido contenido contenido contenido"
							 "widget-1 widget-1 widget-1 widget-1"
							 "footer footer footer footer";
	}

	.contenedor .contenido .contenedor-cont{
		width: 100%;
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(3, auto);
	
		grid-template-areas: "seccion1"
							 "seccion2" 
							 "seccion2" 
	}
	.contacto-footer{
		display: block;
		align-content: center;
	}
	.contenedor .menu{
		position: relative;
		background: #C89F9C;
		height: 0vh;
		width: 100%;
		display: block;
		text-align: center;
		grid-area: menu;
	
	}

	.menu a{
		background: none;
		border-radius: 4px;
		text-decoration: none;
		font-size: 20px;
		display: none;
		text-transform: uppercase;
		color: white;
		margin: 50px;
		padding: 5px;
	}

	.contenedor .contenedor-boton{
		border-radius: 5px;
		background: #C89F9C;
		width: 100%;
		height: 50px;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		grid-area: contenedor-boton;
	}

	.contenedor .contenedor-boton .menu-btn{
		font-size: 30px;
		color:white;
		margin-right: 5px;
		cursor: pointer;
		visibility:visible;
	}
	.menu-btn i {
		align-items: center;
		padding: 10px;
	}

	#check{
		display: none;
	}

	#check:checked ~ .menu{
		height: 70vh;
		width: 100%;
	}

	#check:checked ~ .menu a{
		display: block;
	}

	.formulario{
		width: 100%; 
		position: relative; 
		height: 1000px; 
		padding-top: 10px;
	}

	.formulario-contacto{
		width: 100%; 
		position: relative; 
		height: 550px; 
		padding-top: 10px;
	}

	.iframe-google{
		width: 100%;
		height: 300px;
		position: relative;
	}
	
}

@media screen and (max-width: 810px){

	.contenedor-header{
		width: 98%;
		margin: 5px auto;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto);
	
		grid-template-areas: "lista-menu-chica lista-menu-chica lista-menu-chica"
							 "logo titulo ."
							 "subtitulo subtitulo subtitulo";
	}

	.contenedor-header .lista-menu{
		display: none;
	}

	.contenedor-header .lista-menu-chica{
		display: block;
		grid-area: lista-menu-chica;
		list-style: none;
	}

	/* GRID DE INFORMACION */

	.widget-info-grid{
	list-style: none;
	display: inline-block;
	text-align: center;
	padding: 0%;
	width: 100%;
	margin: 0 auto;
	}

	.widget-info-grid li{
	display: inline-block;
	margin: 10px;
	}

	.widget-info-item i{
	font-size: 30px;
	color: #fff;
	padding: 5px 0 0 0;
	}

	.widget-info-item p{
	display: none;
	}

	.widget-info-item h3{
		padding: 5px 0;
		font-size: 10px;
	}


	/* FIN DE GRID DE INFORMACION */
}



@media screen and (max-width: 450px){
	
	.contenedor .header h2{
		font-size: 12vw;
	}
	
	.contenedor .header h5{
		font-size: 6vw;
	}

	.lista-menu-chica i{
		font-size: 4vw;
	}

}

